<nav class="navbar">
    <div class="mx-auto">
        <%= link_to root_path do %>
            <%= image_tag("logo.png", width: 400, alt: 'TicTacToe', title: 'TicTacToe') %>
        <% end %>
    </div>
</nav>